<header class="page-header" role="banner" [ngClass]="{'sticky': isStickyHeader}">
  <h1 class="project-name">{{title}}</h1>
  <h2 class="project-tagline">
    All for Frontend
  </h2>
  <nav (click)="toggleNav()" [ngClass]="{'open': isNavOpen}">
    <div class="icon">
      <menu-icon [open]="isNavOpen"></menu-icon>
    </div>
    <ul class="navigation-list">
      <li *ngFor="let page of pages" class="navigation-list-item">
        <a [routerLink]="page.permalink" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">{{page.title}}</a>
      </li>
    </ul>

    <!-- <div class="github-links">
        <a href="#" class="btn">View on GitHub</a>
      </div> -->
  </nav>
</header>



<main id="content" class="main--content-container" role="main">
  <aside class="aside--menu"></aside>
  <article class="article--main-content">
    <router-outlet></router-outlet>
  </article>
  <aside class="aside--menu"></aside>
</main>

<footer class="page-footer">
  <span class="site-footer-credits">Made with love by Joz & Victor <span class="love-glyph">❤</span>️</span>
</footer>