@import "./variables.scss";
.page-header {
  width: 100%;
  height: $space--xxlarge * 5;
  // background: $background-primary;
  background-color: black;
  background-image: url("../assets/images/BG1.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding: $space--xxlarge + $space--medium $space--xxlarge + $space--medium $space--medium $space--xxlarge +
    $space--medium;
  transition: all 0.125s ease;
  position: relative;
  .project-name,
  .project-tagline {
    color: $text-white;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 $border-width--small $dark;
  }
  .project-name {
    font-size: $font-size--xxxlarge;
  }
  .project-tagline {
    font-size: $font-size--mlarge;
    margin: $space--large 0;
    font-weight: normal;
  }
  .icon {
    display: none;
  }
  .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 $space--xxlarge;
    list-style: none;
    transition: all 0.125s ease;
    .navigation-list-item {
      border-radius: $border-radius--small;
      transition: background-color 0.125s ease;
      &:hover {
        background-color: $shadow-01;
      }
      a {
        display: inline-block;
        padding: $space--small $space--medium;
        text-shadow: 0 0 $border-width--small $dark;
        color: $text-white;
        transition: color 0.25s ease;
        &.active {
          color: $alternative;
        }
      }
    }
  }

  &.sticky {
    position: sticky;
    top: -$space--xxlarge * 5 + $space--xlarge;
    padding: $space--xxlarge * 5 - $space--xlarge $space--medium 0 $space--medium;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    .project-name {
      font-size: $font-size--medium;
      width: auto;
      margin: 0;
      text-align: start;
      flex: 1;
    }
    .project-tagline {
      display: none;
    }

    .navigation-list {
      align-items: flex-end;
      flex-wrap: nowrap;
      margin: 0;
      list-style: none;
      .navigation-list-item {
        a {
          padding: $space--small;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    position: relative;
    .project-name {
      font-size: $font-size--xlarge;
    }
    .project-tagline {
      font-size: $font-size--medium;
    }
    & nav {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      width: $space--xlarge;
      height: $space--xlarge;
      margin-left: auto;
      overflow: visible;
      transition: all 0.125s ease;
      .icon {
        display: inline;
      }
      &:hover {
        background-color: $shadow-01;
      }
      .navigation-list {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        background-color: $background-primary;
        display: none;
        .navigation-list-item {
          text-align: right;
        }
      }
      &.open {
        .navigation-list {
          display: flex;
        }
      }
    }
  }
}

.main--content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  .aside--menu {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $space--xxlarge * 3;
  }
  .article--main-content {
    flex-grow: 1;
  }
  @media screen and (max-width: 1200px) {
    .aside--menu {
      flex-basis: 0;
    }
  }
}

.page-footer {
  text-align: left;
  border-top: solid 1px $text-03;
  margin: 0 $space--xxlarge * 3;
  padding: 1rem 0;
  color: $text-03;
  font-weight: 300;
  font-size: $font-size--small;
  .love-glyph {
    color: $love;
  }
}
