/*-------- spacing start --------*/
$space--xxxsmall: 0.0625rem;
$space--xxsmall: 0.125rem;
$space--xsmall: 0.25rem;
$space--small: 0.5rem;
$space--smedium: 0.75rem;
$space--medium: 1rem;
$space--mlarge: 1.5rem;
$space--large: 2rem;
$space--xlarge: 3rem;
$space--xxlarge: 4rem;
/*-------- spacing end --------*/

/*-------- font-size start --------*/
$font-size--xxxsmall: 0.25rem;
$font-size--xxsmall: 0.375rem;
$font-size--xsmall: 0.5rem;
$font-size--small: 0.75rem;
$font-size--smedium: 0.875rem;
$font-size--medium: 1rem;
$font-size--mlarge: 1.25rem;
$font-size--large: 1.5rem;
$font-size--xlarge: 2rem;
$font-size--xxlarge: 2.5rem;
$font-size--xxxlarge: 3rem;
/*-------- font-size end --------*/

/*-------- border end --------*/
$border-radius--xsmall: 1px;
$border-radius--small: 2px;
$border-radius--medium: 4px;
$border-radius--mlarge: 8px;
$border-radius--large: 16px;
$border-radius--xlarge: 24px;
$border-radius--xxlarge: 32px;

$border-width--xsmall: 1px;
$border-width--small: 2px;
$border-width--medium: 4px;
$border-width--mlarge: 8px;
$border-width--large: 16px;
$border-width--xlarge: 24px;
$border-width--xxlarge: 32px;
/*-------- border end --------*/

/*-------- color end --------*/
$primary: #66ccff;
$secondary: #9999ff;
$alternative: #00ffcc;

$background-primary: #1a1a1a;

$field-01: #fff9e9;
$field-02: #c5fbc9;

$text-01: #dadada;
$text-02: #5a6872;
$text-03: #cdd1d4;
$text-white: #efefef;

$danger: #e0182d;
$warging: #efc100;
$success: #5aa700;

$shadow-01: rgba(255, 255, 255, 0.2);

$gray: #868686;
$dark: #383838;
$white: white;
$love: #ee0000;
/*-------- color end --------*/
