@import "../variables.scss";
.box-container {
  height: $space--xlarge;
  width: $space--xlarge;
  position: relative;
  box-sizing: border-box;
  transform: rotateX(-30deg);
  transform-style: preserve-3d;
  &:hover,
  &.open {
    .loading-box {
      .loading-surface {
        background-color: $primary;
        &.top {
          transform: translate3d(0, -$space--smedium, 0) rotateX(90deg);
        }
        &.bottom {
          transform: translate3d(0, $space--smedium, 0) rotateX(-90deg);
        }
        &.left {
          transform: translate3d(-$space--smedium, 0, 0) rotateY(90deg);
        }
        &.right {
          transform: translate3d($space--smedium, 0, 0) rotateY(-90deg);
        }
        &.front {
          transform: translate3d(0, 0, $space--smedium);
        }
        &.rear {
          transform: translate3d(0, 0, -$space--smedium);
        }
      }
    }
  }
  .loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $space--medium;
    height: $space--medium;
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
    transform-style: preserve-3d;

    .loading-surface {
      position: absolute;
      top: 0;
      left: 0;
      width: $space--medium;
      height: $space--medium;
      border: solid $space--xxxsmall white;
      box-sizing: border-box;
      transition: all 0.125s ease;
      &.top {
        transform: translate3d(0, -$space--small, 0) rotateX(90deg);
      }
      &.bottom {
        transform: translate3d(0, $space--small, 0) rotateX(-90deg);
      }
      &.left {
        transform: translate3d(-$space--small, 0, 0) rotateY(90deg);
      }
      &.right {
        transform: translate3d($space--small, 0, 0) rotateY(-90deg);
      }
      &.front {
        transform: translate3d(0, 0, $space--small);
      }
      &.rear {
        transform: translate3d(0, 0, -$space--small);
      }
    }
  }
}
