<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<header>
    <meta charset="UTF-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Baidu Analytics -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3dc232a04005ebeb6bfcdb99f4c1c4da";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140408067-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140408067-1');
    </script>



</header>
<body>
<div class="page-header" role="banner">
    <h1 class="project-name">
        {{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}
    </h2>

    <ul class="menu-item">
        <li><a href="{{ site.baseurl }}{% link _pages/index.md %}">撰写初衷</a></li>
        <li><a href="{{ site.baseurl }}{% link frontend-interview/frontend-interview.md %}">前端面试</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/website-development.md %}">网站开发</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/programming.md %}">开发相关</a></li>
        <li><a href="{{ site.baseurl }}{% link _pages/misc.md %}">杂七杂八</a></li>
    </ul>

    {% if site.github.is_project_page %}
    <div class="github-links">
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </div>
    {% endif %}
</div>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        <span class="site-footer-credits">Made with love by Joz & Victor & MikuZZ <span
                style="color: #e27575;font-size: 16px;">❤</span>️</span>
    </footer>
</main>
</body>
</html>
